<table>
<%= simple_form_for @bolao, :html => { :multipart => true } do |f| %>
  <tr><th><%= f.input :arquivo, as: :file %></th>
  <th><%= f.submit 'Upload' %></th>
  <th><a href = "/zera_bd">Zerar o BD</a><br><%= "Modo debug" if @debug_mode == true %></th></tr>
<% end %>
</table>

<% if @debug_mode == true %>

<% @boloes.each do |bolao| %>
  <table>
  <tr><th><%= bolao.nome %> - <%= bolao.qtd_de_palpites %> palpites<br><br>
  Média: <%= bolao.media_estrita %>%..<%= bolao.media_normal %>% = <span style="font-size:21px"><%= bolao.media_geral %> %</span></th><th>Soma</th><th>Par/Impar</th><th> + sorteadas</th><th> -sorteadas</th><th>Col.cheia</th><th>Col.vazia</th><th>Lin.cheia</th><th>Lin.vazia</th><th>Seq.Fibonacci</th><th>N.primos</th><th>N.consecutivos</th><th>Quadrantes</th><th>Multiplos</th><th>Pontos:</th></tr>
  <% bolao.palpites.each do |palpite| %>
    <tr>
    <td><%= palpite.dezenas %></td>
    <td><%= palpite.analisa_soma %></td>
    <td><%= palpite.analisa_pares_impares %></td>
    <td><%= palpite.analisa_mais_sorteados %></td>
    <td><%= palpite.analisa_menos_sorteados %></td>
    <td><%= palpite.analisa_colunas_cheias %></td>
    <td><%= palpite.analisa_colunas_vazias %></td>
    <td><%= palpite.analisa_linhas_cheias %></td>
    <td><%= palpite.analisa_linhas_vazias %></td>
    <td><%= palpite.analisa_fibonacci %></td>
    <td><%= palpite.analisa_numeros_primos %></td>
    <td><%= palpite.analisa_numeros_consecutivos %></td>
    <td><%= palpite.analisa_quadrantes %></td>
    <td><%= palpite.analisa_multiplos %></td>
    <td><%= palpite.pontos %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% else %>

<% @boloes.each do |bolao| %>
  <table>
   <tr><th><%= bolao.nome %> - <%= bolao.qtd_de_palpites %> palpites<br><br>
  Média: <%= bolao.media_estrita %>%..<%= bolao.media_normal %>% = <span style="font-size:21px"><%= bolao.media_geral %> %</span></th><th>Soma</th><th>Par/Impar</th><th> + sorteadas</th><th> -sorteadas</th><th>Col.cheia</th><th>Col.vazia</th><th>Lin.cheia</th><th>Lin.vazia</th><th>Seq.Fibonacci</th><th>N.primos</th><th>N.consecutivos</th><th>Quadrantes</th><th>Multiplos</th><th>Pontos:</th></tr>
  <% bolao.palpites.each do |palpite| %>
    <tr>
    <td><%= palpite.dezenas %></td>
    <td><%= palpite.teste_soma %></td>
    <td><%= palpite.teste_pares_impares %></td>
    <td><%= palpite.teste_mais_sorteados %></td>
    <td><%= palpite.teste_menos_sorteados %></td>
    <td><%= palpite.teste_colunas_cheias %></td>
    <td><%= palpite.teste_colunas_vazias %></td>
    <td><%= palpite.teste_linhas_cheias %></td>
    <td><%= palpite.teste_linhas_vazias %></td>
    <td><%= palpite.teste_fibonacci %></td>
    <td><%= palpite.teste_numeros_primos %></td>
    <td><%= palpite.teste_numeros_consecutivos %></td>
    <td><%= palpite.teste_quadrantes %></td>
    <td><%= palpite.teste_multiplos %></td>
    <td><%= palpite.pontos %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% end %>

