<table>
<%= simple_form_for @bolao, :html => { :multipart => true } do |f| %>
  <tr><th><%= f.input :arquivo, as: :file %></th>
  <th><%= f.submit 'Upload' %></th>
  <th><a href = "/zera_bd">Zerar o BD</a><br><%= "Modo debug" if @debug_mode == true %></th></tr>
<% end %>
</table>

<table>
<tr><th>Bolão</th><th>Média Geral</th></tr>
<% @boloes_ranking.each do |bolao| %>
  <tr><td><a href="#<%= bolao.nome %>"><%= bolao.nome %></a> - <%= bolao.qtd_de_palpites %> palpites</td><td><%= bolao.media_estrita %>%..<%= bolao.media_normal %>% = <span style="font-size:18px"><%= bolao.media_geral %> %</span></td></tr>
<% end %>
</table>

<% if @debug_mode == true %>

<% @boloes.each do |bolao| %>
  <table>
  <tr><th><a name="<%= bolao.nome %>"><%= bolao.nome %> - <%= bolao.qtd_de_palpites %> palpites<br>
  Média: <%= bolao.media_estrita %>%..<%= bolao.media_normal %>% = <span style="font-size:21px"><%= bolao.media_geral %> %</span></th><th><%= raw bolao.titulo('soma') %></th><th><%= raw bolao.titulo('soma_dos_digitos') %></th><th><%= raw bolao.titulo('pares_impares') %></th><th><%= raw bolao.titulo('mais_sorteados') %></th><th><%= raw bolao.titulo('menos_sorteados') %></th><th><%= raw bolao.titulo('colunas_cheias') %></th><th><%= raw bolao.titulo('colunas_vazias') %></th><th><%= raw bolao.titulo('linhas_cheias') %></th><th><%= raw bolao.titulo('linhas_vazias') %></th><th><%= raw bolao.titulo('fibonacci') %></th><th><%= raw bolao.titulo('numeros_primos') %></th><th><%= raw bolao.titulo('numeros_consecutivos') %></th><th><%= raw bolao.titulo('quadrantes') %></th><th><%= raw bolao.titulo('multiplos') %></th><th><%= raw bolao.titulo('distancia') %></th><th><%= raw bolao.titulo('intervalos') %></th><th>Pontos</th></tr>
  <% bolao.palpites.each do |palpite| %>
    <tr>
    <td><%= palpite.dezenas %></td>
    <td><%= palpite.analisa_soma %></td>
    <td><%= palpite.analisa_soma_dos_digitos %></td>
    <td><%= palpite.analisa_pares_impares %></td>
    <td><%= palpite.analisa_mais_sorteados %></td>
    <td><%= palpite.analisa_menos_sorteados %></td>
    <td><%= palpite.analisa_colunas_cheias %></td>
    <td><%= palpite.analisa_colunas_vazias %></td>
    <td><%= palpite.analisa_linhas_cheias %></td>
    <td><%= palpite.analisa_linhas_vazias %></td>
    <td><%= palpite.analisa_fibonacci %></td>
    <td><%= palpite.analisa_numeros_primos %></td>
    <td><%= palpite.analisa_numeros_consecutivos %></td>
    <td><%= palpite.analisa_quadrantes %></td>
    <td><%= palpite.analisa_multiplos %></td>
    <td><%= palpite.analisa_distancia %></td>
    <td><%= palpite.analisa_intervalos %></td>
    <td><%= palpite.pontos %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% else %>

<% @boloes.each do |bolao| %>
  <table>
  <tr><th><a name="<%= bolao.nome %>"><%= bolao.nome %> - <%= bolao.qtd_de_palpites %> palpites<br>
  Média: <%= bolao.media_estrita %>%..<%= bolao.media_normal %>% = <span style="font-size:21px"><%= bolao.media_geral %> %</span></th><th><%= raw bolao.titulo('soma') %></th><th><%= raw bolao.titulo('soma_dos_digitos') %></th><th><%= raw bolao.titulo('pares_impares') %></th><th><%= raw bolao.titulo('mais_sorteados') %></th><th><%= raw bolao.titulo('menos_sorteados') %></th><th><%= raw bolao.titulo('colunas_cheias') %></th><th><%= raw bolao.titulo('colunas_vazias') %></th><th><%= raw bolao.titulo('linhas_cheias') %></th><th><%= raw bolao.titulo('linhas_vazias') %></th><th><%= raw bolao.titulo('fibonacci') %></th><th><%= raw bolao.titulo('numeros_primos') %></th><th><%= raw bolao.titulo('numeros_consecutivos') %></th><th><%= raw bolao.titulo('quadrantes') %></th><th><%= raw bolao.titulo('multiplos') %></th><th><%= raw bolao.titulo('distancia') %></th><th><%= raw bolao.titulo('intervalos') %></th><th>Pontos</th></tr>
  <% bolao.palpites.each do |palpite| %>
    <tr>
    <td><%= palpite.dezenas %></td>
    <td><%= palpite.teste_soma %></td>
    <td><%= palpite.teste_soma_dos_digitos %></td>
    <td><%= palpite.teste_pares_impares %></td>
    <td><%= palpite.teste_mais_sorteados %></td>
    <td><%= palpite.teste_menos_sorteados %></td>
    <td><%= palpite.teste_colunas_cheias %></td>
    <td><%= palpite.teste_colunas_vazias %></td>
    <td><%= palpite.teste_linhas_cheias %></td>
    <td><%= palpite.teste_linhas_vazias %></td>
    <td><%= palpite.teste_fibonacci %></td>
    <td><%= palpite.teste_numeros_primos %></td>
    <td><%= palpite.teste_numeros_consecutivos %></td>
    <td><%= palpite.teste_quadrantes %></td>
    <td><%= palpite.teste_multiplos %></td>
    <td><%= palpite.teste_distancia %></td>
    <td><%= palpite.teste_intervalos %></td>
    <td><%= palpite.pontos %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<% end %>

